body {overflow-x:hidden;}
#contact { display: block; width: auto; margin: 0; padding: 0px; border: none; background:#fff; overflow:visible }

#contact label { display: none; float: none; height:0px; }
input, textarea, select { width:300px; padding:20px 25px 22px 25px; font: 15px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; color:#555; border:0; border-bottom:1px solid #ccc; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; float:none; display:block;}
#contact input.third { margin: 0px 0px 0px 0 !important; }
#contact textarea { margin-bottom:0px; margin-right:0px !important; width:236px; border:0px; border-right:1px solid #ccc; height:138px; display:block; }

input:focus, textarea:focus, select:focus { background:#f8f8f8; }
input.submit { display:block; position:absolute; bottom:0px; right:0px; width:64px; height:100px; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; border:0px; padding:0px; background:url(../images/bg-send.png) center center no-repeat; background-size:24px 28px; text-indent:-9999px; cursor:pointer}

#contact input.submit:hover { background-color: rgba(255,255,255, 0.33); }
#contact fieldset { padding-left:0px;}

#message { margin: 0; padding: 0px; z-index:5500; position:absolute !important; top:0px; left:0px; background:#fff; height:100%; min-height:100%; }
#success_page { display: block; width:300px; height:100%; min-height:100%; padding:30px 35px; }
.error_message { display: block; width:300px; height:100%; min-height:100%; padding:30px 35px; background:url(../images/bg-close.png) no-repeat 247px 234px #FBE3E4;  background-size:18px 18px; color:#8a1f11; cursor:pointer }

#contact .padding-right {padding-right:20px; }



@-webkit-keyframes _move {
   from {
     -webkit-transform: translateX(0);
   }
   to { 
     -webkit-transform: translateX(187%);
   }
}

@media only screen and (min-width: 1024.5px), only screen and (min-device-width: 1024.5px) {
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes unrotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);-
  }
}
@keyframes unrotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.trotating {
  -webkit-animation: rotating 11s linear 2;
  -moz-animation: rotating 11s linear 2;
  -ms-animation: rotating 11s linear 2;
  -o-animation: rotating 11s linear 2;
  animation: rotating 11s linear 2;
}
.unrotating {
  -webkit-animation: unrotating 3s linear infinite;
  -moz-animation: unrotating 3s linear infinite;
  -ms-animation: unrotating 3s linear infinite;
  -o-animation: unrotating 3s linear infinite;
  animation: unrotating 3s linear infinite;
}