@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Orator;
    src: url("OratorStd.otf") format("opentype");
}
@font-face {
    font-family: Baskerville;
    src: url("LibreBaskerville-Regular.ttf") format("truetype");
}

/* =Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear { clear: both; }
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:0 auto !important; display:inline-block; }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }
.centered { text-align:center; }
.absolute {position:absolute; width:100%; margin-left:-35px; }
/* End Clearfix
--------------------------------------------------------------------------------------------------------*/
/* =Preloader
--------------------------------------------------------------------------------------------------------*/
#preloader { position:absolute; top:0; left:0; right:0; bottom:0; background-color:#000; z-index:199; }
#status { width:200px; height:200px; position:absolute; left:50%; top:50%; background-image:url(../images/ajax-loader.gif); background-repeat:no-repeat; background-position:center; margin:-100px 0 0 -100px; }
/* End Preloader
--------------------------------------------------------------------------------------------------------*/
/* =Typography
--------------------------------------------------------------------------------------------------------*/
html {overflow: -moz-scrollbars-vertical; overflow-y: scroll; }
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
body { 
	/* font: 13px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; */
	color: #555; /* background:#000; */ 
	font-size: 90%;
	font-family: "Open Sans", Arial, sans-serif;
}

strong { font-weight:bold; }
a, a > * {-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
p { line-height:1.5; padding:10px 0px 0 0px; }
p.small {font-size:11px;}
.below-h3 {display:block; margin-top:-13px; padding-bottom:10px; text-transform:uppercase }
.below-huge-price {display:block; margin-top:-18px; font-weight:600; }
p.big    { font-size:15px; }
p.big a { font-weight:600; }
p.blockquote { font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size:18px; padding-top:18px; clear:both }
.blockquote span {font: 11px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; color:#8d8d8d; padding-top:5px; text-transform:uppercase; display:block; letter-spacing:1px; }
a { color:#2b2b2b; text-decoration:none; font-weight:600 }
a:hover { text-decoration:none; color:#555; }
em {font-style:italic }
.uppercase {text-transform:uppercase }
.line-through {text-decoration:line-through; color:#888; padding:0 !important; }
span.arrow {font:13px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-style:normal}
/* End Typography
--------------------------------------------------------------------------------------------------------*/

/* =Headings
--------------------------------------------------------------------------------------------------------*/
header h1 		{ background-color: #00E009; font-family: Orator; color: #fff; transition:.3s; }
header h1:hover { background-color: #fff; font-family: Orator; color: #00E009; transition:.3s; }
header h2 {     font-family: Orator;
    color: #FFFFFF;
    transition: .3s;
    text-indent: 5.5rem;
    z-index: 3;
    font-size: 14px;
    padding-top: 3.2rem;
    height: 2rem;
    position: absolute;
}
h1#logo { position:relative; float:left; padding:25px; z-index:1; border-right:1px solid #ccc; width: 178px; }
h1#logo a { 
	display:block; background:url(../images/bg-logo.png) no-repeat; 
	background-size:130px 76px; 
	width:130px; height:76px; 

	text-indent:-9999px; }
/* h2, h3, h4, h2 a, h3 a, h4 a { line-height:1; font-weight:700; 
		 color:#2b2b2b;  
	display:block font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; text-transform:uppercase } */

h2 a:hover, 
h3 a:hover, 
h4 a:hover { color:#2b2b2b; }

h1 { font-size:28px; padding-bottom: 3px; padding-top:6px; letter-spacing:-1px; }
h2 { font-size:48px; padding-bottom:9px; padding-top: 6px; letter-spacing:-1px; }

h3 {font-size:30px; padding-bottom:9px; padding-top:20px; letter-spacing:-1px; }
h4, .blog h2 {font-size:24px; padding-bottom:10px; padding-top:20px; letter-spacing:-1px;  }
.grey-area h4 {padding-top:10px; }
/* End Headings
--------------------------------------------------------------------------------------------------------*/


/* =Main Content
header {display: none;} */

#content 		{ }

/* --------------------------------------------------------------------------------------------------------*/
/*.container { white-space: nowrap; }*/
#content .container 		{ width:1280px; margin: 0 auto; padding:10px 0; }

.slider #content .container, .post #content .container, .cart  #content .container { width:960px; }
header { background:#fff; -webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1); box-shadow:0 1px 0 rgba(0, 0, 0, 0.1); position:relative; z-index:55;}

.col1-1 { width:940px; margin:10px; float:left; position:relative }
.col1-1.combi { background:#fff; }
.col1-1.last { margin-bottom: 6rem; }
.col3-3 { width:940px; margin:10px; float:left; position:relative }
.col1-3 { width:300px; margin:10px; float:left; overflow:hidden }
.combi .col1-3 {width:300px; margin:0; float:left; }
.col2-3 { width:620px; margin:10px; float:left; overflow:hidden }
.col1-5 { width:170px; margin:10px; float:left; overflow:hidden }
.combi .col1-5 { margin: 0; }
.combi .col2-3 { width:640px; margin:0; }
.height-400 {height:400px }

.col1-3.white-right, .col1-3.white, .col1-3.white-left, .white-bottom { padding:10px 35px 31px 35px; background:#fff; }
.white-bottom { position:relative }
.white-bottom.grey-area-last, .white.grey-area-last { 
	padding: 10px 20px 0px 20px;
	background: transparent;
}
.tab-tile {background:#fff; }
.col1-3.white.p-small { padding:20px 35px 31px 35px; }

.white-right:before {content:''; height:0; width:0; border-width:12px 12px 12px 12px; border-style:solid; border-color:rgba(251,251,251,0) rgba(255,255,255,1) rgba(255,255,255,0) rgba(255,255,255,0); position:absolute; margin-top:25px; left:616px; }
.white-bottom:before {content:''; height:0; width:0; border-width:12px 12px 12px 12px; border-style:solid; border-color:rgba(251,251,251,0) rgba(255,255,255,0) rgba(255,255,255,1) rgba(255,255,255,0); position:absolute; top:-24px; margin-left:0px; }
a:visited .white-bottom:before { border-color: transparent transparent #fff transparent !important; }
a:visited .white-right:before { border-color:transparent #fff transparent transparent !important; }

.bottom-field {border-top:1px solid #ccc; background:#f8f8f8; position:absolute; bottom:0; left:640px; display:block; width:300px; padding:8px 35px 19px 35px; text-transform:uppercase; color:#8d8d8d;  }
.grey-area {border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#f8f8f8; position:relative; display:block; width:300px; padding:15px 35px 25px 35px; text-transform:uppercase; color:#8d8d8d; margin:25px 0 15px 0; margin-left:-35px; }
.grey-area.smaller {border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#f8f8f8; position:relative; display:block; width:300px; padding:8px 35px 19px 35px; text-transform:uppercase; color:#8d8d8d; margin:25px 0 0px 0; margin-left:-35px; }
.grey-area.last { border-bottom:1px solid #f8f8f8; margin-bottom:0; }
.col2-3 .grey-area { width:620px; }
.col1-5 .grey-area { width:170px; }

.cart-single { text-transform:none; }

ul#container 	{ margin:0 auto; position:relative; }
ul#container li { white-space: normal; list-style:none outside none; overflow:hidden; position:relative }

.add-not  h2 b { font-size: 36px; }
.add-pre  h2 { display: inline-block; font-size: 32px; text-align: left; text-shadow: rgba(255, 255, 255, 0.59) 1px 1px 0.5px } 
.add-not  h2 { display: inline-block; font-size: 22px; text-align: left; } 

.add-tit  		h2 { display: inline-block; font-size: 28px; text-align: center; } 
.add-tit.sm  	h2 { display: inline-block; font-size: 16px; text-align: center; } 

.add-text h1 { display: inline-block; } 
.add-text > h2 { padding-bottom: 0; }


.add-text .note p,
.add-text .note h3,
.add-text .note h2 { display: inline-block; padding: 0; font-size: 18px; }
.add-text .note b { font-size: 22px; padding-left: 0.25rem; }

.add-text span { padding-left: 1.625rem; }

.add-pre {
	padding: 0.3125rem 0.625rem;
    font-family: Baskerville;
    color: #696969;
    width: 35%;
    margin-left: 0.6125rem;
    color: rgba(21, 21, 21, 0.95);
}

.add-not,
.add-tit { 
	padding: 0.3125rem 0.625rem;
    font-family: Orator;
    color: #696969;
}
.add-text { 
	padding: 0.3125rem 0.625rem;
    font-family: Orator;
    color: #fff; 
}

.add-str {
	float: right;
	width: 30%;
	padding: 0.3125rem 0.125rem;
	font-family: Orator;
	margin-right: 2%;
}

.add-str.black {
	width: 35%;
}

.add-str.tl h2 {
	text-align: left;
}

.add-str h2 {
	padding: 0;
    line-height: 1.9rem;
    font-size: 28px;
    text-align: right;
    word-wrap: normal;
    color: #fff;
    overflow: hidden;
    word-break: break-word;
}

.add-str.black h2 {
	color: #0a0a0a;
	font-size: 26px;
	padding-top: 1rem;
	word-break: normal;
	word-wrap: normal;
}

.add-str.shadow h2 {
	text-shadow: #333 2px 2px 6px;
}


p a.brlink		{ color: rgba(0, 224, 9, 0.65); font-weight: 400; }
.link-box 		{ transition: 0.3s; opacity: 0; position: absolute; left: 0;  bottom: 0; padding-left:  0.3125rem; padding-bottom: 0.3125rem;  }
.link-box.right { transition: 0.3s; opacity: 0; position: absolute; right: 0; bottom: 0; padding-right: 0.3125rem; padding-bottom: 0.3125rem;  }

.link-box .opt 	{ width: 100%; position: relative; }
.link-box ul 	{ width: 100%; position: relative; }
.link-box.right ul.links { text-align: right; }

.link-box ul.links li { display: inline-block; float: none }
.link-box ul li a.view { 
	background-image: url('../images/addopt.png');
    background-position: 0 0;
    width: 30px;
    height: 20px;
    display: block;
    background-size: 80px 20px; }
.link-box ul li a.edit { background-image: url('../images/addopt.png'); 
	background-position: 53px 0px;
    width: 30px;
    height: 20px;
    display: block;
    background-size: 80px 20px; }
.link-box ul li a.share { background-image: url('../images/addopt.png'); background-position: -57px 0px;
    width: 30px;
    height: 20px;
    display: block;
    background-size: 80px 20px; background-repeat: no-repeat; }

.link-box ul li a:hover 		{ background-image: url('../images/addopt_hover.png'); }

.min-he .mine.white-bottom 		{ position: inherit; }
.mine 							{ text-align: justify; }
.mine.white-bottom p.inline   	{ display: inline; padding: 10px 0px 0 0px; margin: 0;  }
/* .min-he p.bot { position: absolute;
    bottom: 0;
    left: 25px; } haha */
.element.min-he { min-height: 400px; position: relative; }

.mine.white-bottom p span.high  { font-size: 0.92rem; font-weight: 200; }
.mine.white-bottom p span.small { font-size: 0.82rem; font-weight: 200; } 
.mine.white-bottom p span._link {
	/*letter-spacing: -0.4px;color: #1679E6;*/
    font-size: 0.9rem;
    vertical-align: initial;
}

.mine.white-bottom h1,
.mine.white-bottom h3 { font-weight: 600; font-size:15px; display: inline; padding: 0; margin: 0; letter-spacing: normal; }
.mine a.ppal { background-image: url('../images/ppal.png'); background-size: 100% 100%; width: 100px; height: 1.4rem; display: inline-block; vertical-align: middle; }

.ppal p {
	font-size: 0.75rem;
    color: #555;
    padding-left: 0.3125rem;
    padding-top: 0;
}
.ppal img { margin-top: 0.3125rem; }

.mine.images img { 
	position: absolute;
    z-index: -1;
    opacity: 0.33; 
    height: 340px;
    width: 100%;
}
.mine ul.unordered-list { list-style: none; margin-left: 0; }
.mine ul li p.sub code 	{     
	font-family: arial;
    letter-spacing: 2px;
    font-stretch: extra-expanded;
    padding: 0.125rem 0.25rem;
    color: #000;
    font-size: 0.75rem; 
    background-color: rgba(232, 232, 232, 0.77)
}
.mine ul li				{ padding-left: 0.3125rem; font-size: 0.9rem; font-weight: 600; }
.mine ul li p.sub 		{ font-size: 0.9rem; padding: 0.625rem 0 0.625rem 0.6125rem; font-weight: 400; }
.mine img.graf  		{ width: 200px; padding: 0.625rem; }

#contact.mine input,
#contact.mine textarea,
#contact.mine { background-color: transparent; }

.steps .one   { 
	background-image: url('../images/1grey.png');     
	background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: 50% 10% }

.steps .bg { position: absolute; z-index: -1; top: 0; left: 0; width: 100%;
    height: 100%; 
    
}
.steps .one .bg 	  { /* background-image: url('../images/bg-bcn1.png'); z-index: 1; */ background-repeat: no-repeat;  opacity: 0.1; }
.steps .two .bg 	  { /* background-image: url('../images/bg-bcn2.png'); z-index: 1; */ background-repeat: no-repeat;  opacity: 0.1; }
.steps .three .bg 	  { /* background-image: url('../images/bg-bcn3.png'); z-index: 1; */ background-repeat: no-repeat;  opacity: 0.1; }

.steps .one.current   {	background-image: url('../images/1.png'); background-size: 150px 150px; background-repeat: no-repeat; background-position: 50% 10%;  }
.steps .two.current   { background-image: url('../images/2.png'); background-size: 150px 150px; background-repeat: no-repeat; background-position: 50% 10%;  }
.steps .three.current { background-image: url('../images/3.png'); background-size: 150px 150px; background-repeat: no-repeat; background-position: 50% 10%; }

.steps .current .bg   { opacity: 0.17; }

.steps .two   { 
	background-image: url('../images/2grey.png');     
	background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: 50% 10% 
}

.steps .three { 
	background-image: url('../images/3grey.png');     
	background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: 50% 10%
}

.steps .mine .grey-area { position: absolute; bottom: 0; border: none; }
.steps .mine 		{ min-height: 190px; position: relative; text-align: center; transition: .2s; }

.steps .mine p { display: block; } 
.steps .mine.current p { 
	display: block;º
	position: absolute;
    bottom: 5px;
    text-align: left; 
}

.steps .current h2 	{ color: #158800; }

.steps h2 { text-align: center; font-size: 35px; color: #808080; text-shadow: #FFF 2px 2px 1px; }

.steps .mine .mid {    
	position: absolute;
	top: 55%;
    width: 50%;
    left: 25%;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(140, 216, 143, 1);
    line-height: 1.25rem;
}

.steps .white-bottom:before { content: none; }

.plans { width: 99%; border-collapse: collapse;
    margin: 1px; 
    position: relative;
    table-layout: fixed;
}
.plans tr td 		{ font-weight: 600; text-align: center; padding: 0.3125rem; overflow-x: hidden; color: #888; }
.plans tr.he td,
.plans tr td.norm 	{ font-weight: 400; }
.plans tr.r { 
	border-radius: 4px;
    border: 1px solid #eee;
    margin: 1px;

}
.plans tr.r.selected td { text-decoration: underline; cursor: pointer; background-color: #00e009; color: #fff!important; }

.plans tr.r:hover    td { text-decoration: underline; cursor: pointer; background-color: #00e009; color: #fff!important; transition:0.2s; }
.plans tr.r:hover 		{ border: 1px solid #00e009; transition:0.3s;  background-color: #00e009; color: #fff!important; transition:0.2s; }

.plans tr.r.selected 	{ border: 1px solid #00e009; transition:0.3s; }
.plans tr.r > td:first-child { text-align: left; }

.box 			{ 
	height: 260px; width: 49.5%; padding: 1.5rem 4.3rem 2.55rem 4.15rem; 
	display: inline-block; 
	background-image: url('../images/mac.png'); 
	background-position: 0px 0px; 
	background-size: 100% 100%; 
}
.scr 			{ width: 100%; height: 100%; padding: 0;  background-color: rgba(0, 224, 9, 0.10); position: relative; }

.scr .e { 
	z-index: 1; display: inline-block; float: left; position: relative; cursor: pointer; 
	padding: 0.3rem;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: #fff;
    font-family: monospace; 
}
.scr .e:hover	{ ;background-color: rgba(0, 224, 9, 0.69)!important; box-shadow: inset 0px 0px 0px 1px #fff; }
.scr .e.selected{ ;background-color: #00E009!important; box-shadow: inset 0px 0px 0px 1px #fff; }

.e.large  	{ ;background-color: #4CAF9D; width: 50%; height:70%; }
.e.medium 	{ ;background-color: #4EAF4C; width: 50%; height:50%; }
.e.regular 	{ ;background-color: #9BAF4C; width: 25%; height:50%; }
.e.small 	{ ;background-color: #BAF1BC; width: 25%; height:25%; }
.e.tiny 	{ ;background-color: #37CA3D; width: 12.5%; height:20%; }

.ad-box.medium  h2  { font-size: 1.4rem; line-height: 1.4rem; }
.ad-box.large   h2 	{ font-size: 1.6rem; }
.ad-box.regular h2 	{ font-size: 1.2rem; line-height: 1.1rem; }
.ad-box.small   h2  { font-size: 0.9rem; line-height: 0.85rem;  }
.ad-box.tiny    h2 	{ font-size: 0.7rem; line-height: 0.7rem; }

.ad-box.small .add-pre h2 { padding-top: 0; }

.ad-box.tiny .add-pre h2, 
.ad-box.tiny .add-str h2 { padding-top: 0; text-align: center; width: 100%;}

.ad-box.large 	.add-str				{ padding-top: 0.3125rem; padding-left: 0.3125rem; width: 35%; }
.ad-box.medium 	.add-str				{ padding-top: 0.3125rem; padding-left: 0.3125rem; width: 35%; }
.ad-box.small 	.add-str				{ padding-top: 0.3125rem; padding-left: 0.3125rem; width: 42%; }

.ad-box.small 	.add-pre 				{ margin-left: 0; padding: 0; padding-top: 0.3125rem; padding-left: 0.3125rem; float: none; }
.ad-box.medium	.add-pre 				{ width: 40%; padding: 0; }
.ad-box.regular .add-pre 				{ margin-left: 0; padding: 0; padding-top: 0rem; padding-left: 0.3125rem; float: none; }
.ad-box.large 	.add-pre 				{ margin-left: 0; padding-top: 0.3125rem; float: none; }

.ad-box.tiny 	.add-str,
.ad-box.tiny 	.add-pre 				{ width: 70%; margin-left: 0; margin:0 auto; padding: 0; padding-top: 0.3125rem; float: none; }


.ad-box.large  		{  ;width: 510px; height:220px; }
.ad-box.medium 		{  ;width: 340px; height:140px; }
.ad-box.regular 	{  ;width: 270px; height:120px; }
.ad-box.small 		{  ;width: 150px; height:90px; }
.ad-box.tiny 		{  ;width: 80px; height:50px; }

.ad-box .elem-ad { 
	position: absolute;
	width: 100%; height: 100%;
	top:0;
	left: 0;
	z-index: -1;
	/* No default color in ad elements!!!  background-color: #535353; */
	background-image: url(''); 
    background-size: 100% 100%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.ad-box .elem-ad img:active {
	cursor: move;
}

.opt-box 		{ vertical-align: top; height: 300px; width: 49.5%; padding: 0; display: none; padding-left: 3.125rem;  }
.ad-select select { 
    margin: 0.625rem 0rem;
    border: 1px solid #ccc;
}		
.ad-box			{ 	overflow: hidden; z-index: 1; margin: 0 auto; vertical-align: middle; position: relative; position: relative; background: transparent; margin-top: 5%; 
					transition:0.3s; -moz-transition: 0.3s; -webkit-transition: 0.3s; 
					box-shadow: 0 0 3px 2px rgba(85, 85, 85, 0.51);
				}
.ad-box > div.add-pre { width: 40%; } 	
.opt-box p		{ padding: 0; display: inline; }
.opt-box li.opt { list-style: initial; list-style-position: inside; }
.opt-box li h3 	{ font-size: inherit; padding: 0; margin: 0; display: inline; letter-spacing: inherit; }
.opt-box li small { font-weight: 300; font-size: 0.8rem; letter-spacing: 1.5px; }
.opt-box p code {     
	font-family: monospace;
    font-size: 0.9rem;
    padding-left: 0.6125rem; }

.opt-actions { display: block;  height: 2rem; width: 100%;  }
form.idealforms .buttons button,
.opt-actions button { float: right; border: 1px solid #00E009;
    padding: 0.9125rem;
    color: #00E009;
    background-color: #fff;
    font-size: 1rem; 
    font-family: Orator; 
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}



form.idealforms .buttons button:hover,form.idealforms .buttons button.selected,
.opt-actions button:hover,
.opt-actions button.selected { background: none; background-color: #00E009; color:#fff; }

.opt-box li 	{ padding: 0.3125rem; }

.board 			{ max-height: 700px; overflow-y: scroll; }
.board.wide 	{ width: 100%; }
.board .status	{ margin-top: 0.3rem; }

.pre 			{ border: 1px solid #ccc; border-radius: 4px; height: 300px; display: block; vertical-align: top; }

/* Resets */

.url-resume { display: none; }

.hidden { display: none!important; }


.status 		{ 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	display: block; 
	vertical-align: top; 
	transition:0.25s; 
	-webkit-transition:0.25s; 
	box-sizing: content-box;
	min-height: 120px;
}
.status > div				{ padding: 0.125rem 0.625rem; }
.status > div:last-child	{ padding-top: 0.125rem; padding-right: 0.3125rem; padding-left: 0; }

.status a 		{ color: #285d85; font-weight: 300; font-family: arial; }
.status .title  { font-size: 1.1rem; padding-top: 0.3125rem; font-family: Orator; text-transform: uppercase; padding-top: 0.5rem; }
.status .map > img { width: 20%; margin-left: 40%; }
.status .map 	{ overflow: hidden; }
.status .address,
.status .zip {
	font-size: 0.8rem;
	color: #919191;
	font-family: monospace;
	padding-left: 0.8125rem;
}
.status .tags li {
	border: 1px solid #B5B523;
    color: #929219;
    display: inline-block;
    padding: 0.125rem 0.3125rem;
    border-radius: 3px;
}
.status ul:not(:first-child) { 
	margin-top: 0.25rem;
}
.status ul li { display: inline-block; margin-right: 0.125rem; font-weight: 300; font-size: 0.75rem; cursor: default;}


.status .services li {
	border: 1px solid #B77712;
    color: #B77712;
    display: inline-block;
    padding: 0.125rem 0.3125rem;
    border-radius: 3px;
}
.status .views .icon {
	background-image: url(/images/addopt.png);
	background-size: 72px 17px;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 27px;
    height: 1.1rem;
    display: inline-block;
    vertical-align: top;
}
.status .views,
.status .clicks {
	padding: 0.3125rem;
	font-family: monospace;
}
.status .clicks .icon {
	background-image: url(/images/addopt.png);
	background-size: 72px 17px;
	background-position: -55px -2px;
	background-repeat: no-repeat;
	width: 27px;
    height: 1.1rem;
    display: inline-block;
    vertical-align: top;
}

.status .url-resume {}

.status .help {}

.status .url-resume .res-title {
	font-weight: bold;
	font-family: Orator;
	font-size: 1rem;
	padding-top: 0.3125rem;
	text-transform: uppercase;
	margin-top: 0.3125rem;
}

.field.buttons .loader {
	width: 40px;
	position: absolute;
    right: 25px;
    bottom: 3px;
}

.status .url-resume ul { margin: 0; }
.status .url-resume .url:hover { background-image: url(/images/world_green.png); }
.status .url-resume .url {
	font-size: 0.8rem;
	font-family: arial;
	font-weight: 300;
	padding-top: 0.125rem;
	height: 1rem;
    overflow-y: hidden;
    overflow-wrap: break-word;
    background-image: url(/images/world.png);
    background-position: 0px 2px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding-left: 15px;
    transition:0.25s; 
	-webkit-transition:0.25s; 
}

.status.height { 
	height: 120px;
}

.status.height .elem-ad .ad-box h2 {
	font-size: 	 0.6rem;
	line-height: 0.4rem;
}

.status .height {
	height: 80%;
	position: relative;
}

.board .list  {
	background-color: transparent;
}
.board .list .status { 
	background-color: transparent; 
	border: none;
	margin-bottom: 1.125rem;
}

.board .good {
	border: 1px solid #00e009;
    width: 60%;
    text-align: center;
    color: #00e009;
    font-family: Orator;
    padding-top: 0.3125rem;
    margin-bottom: 1.3125rem;
    border-radius: 4px;
    margin-left: 20%; padding-left: 0;
}

.board .list .status > * { margin-left: 20%; padding-left: 0; }
.board .list .status > p span.small { font-size: 1.1rem; color: #777; font-family: monospace; }
.board .list .status a { font-size: 0.8rem; }
.ad {
	display: inline-block;
}




/******************************************************************************************
	DESIGN 
*******************************************************************************************/

#container {
	/* background-image: url(../images/barcelona-bg-op60.png); 
    background-position: -1000px -25px;
    background-repeat: no-repeat;*/
}

.board > div.pre.active 	 { background-color: rgba(238, 238, 238, 0.82); }
.board > div.status.active 	 { background-color: rgba(238, 238, 238, 0.9);  }
.board > div:not(.ad-select):not(.list):not(.good) { background-color: rgba(238, 238, 238, 0.75); }

.tools,
form.idealforms .field.radio .group { border-radius: 4px; -webkit-border-radius: 4px; -mod-border-radius: 4px; /* background: rgba(238, 238, 238, 0.71); */ }

form.idealforms .field .group.temp,
form.idealforms .field.radio	{ /* background: rgba(238, 238, 238, 0.71); */}

form.idealforms .field.radio .group > label:first-child span.ideal-radio { margin-left: 0.3125rem; }

form.idealforms .field .switch-wrapper	{ display: inline-block; }
form.idealforms .field .switch-wrapper.img-side { vertical-align: top; }
/* form.idealforms .ideal-file-upload { font-size: 15px; } */

form.idealforms .field.prescale { display: inline-block; width: 50%; }
form.idealforms .field.scale {     display: inline-block;
    vertical-align: top;
    width: 40%; }

form.idealforms.adaptive .field.resume { max-width: 100%; width: 100%; }

form.idealforms.adaptive .field {}

form.idealforms.adaptive .field.fdate input { width: 50%; display: inline-block; margin-left: 0.3125rem; float: none; vertical-align: top;}
form.idealforms.adaptive .field.fdate {
	width: 50%; float: left; clear: none;
}

form.idealforms.adaptive .field.exp .icon {
	left: 75%; top:-5px;
}

form.idealforms.adaptive .field.csv .icon {
	left: 52%; top:-5px;
}

form.idealforms span.calen:hover,
form.idealforms span.calen.active {
	background-image: url(/images/sprite_green.png);
	cursor: pointer;
}

form.idealforms span.calen {
	display: inline-block;
    max-width: 50%;
    background-image: url(/images/sprite.png);
    background-position: -332px -25px;
    width: 30px;
    height: 30px;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
}

/*
form.idealforms.adaptive .field.fdate label { display: inline-block; max-width: 50%;  }
*/

form.idealforms .field.scale label.main { display: inline-block;
    margin-top: 0.15rem; }

form.idealforms .field.scale select {     display: inline-block;
    width: 50%;
    float: right;
    margin-right: 15%; 
    margin-top: 0.25rem;

}

form.idealforms.ad-data .switch-wrapper .ideal-check, 
form.idealforms .ideal-radio {
    float: none;
    margin-right: 0;
    width: inherit;
    height: inherit;
    background: none;
}

form.idealforms.ad-data .ideal-check.checked {
    background-position: none;
}


.hidden 				{ display: none; }

.switch-wrapper 				{ padding: 0.3125rem; background: rgba(255, 255, 255, 0.8); border-radius: 4px; -webkit-border-radius: 4px; -mod-border-radius: 4px; }

/*
.tools form.idealforms .field:not( [style*="display: none"]):nth-last-child(2) {
	 margin-bottom: 5rem; 
} */

.ui-datepicker-trigger,
.ui-datepicker-calendar { display: none; }

.board select,
.tools form.idealforms.adaptive select,
.tools form.idealforms button.ideal-file-upload,
.tools form.idealforms input {
	font-size: 0.8rem;
}

.tools form.idealforms .field.buttons {    
	bottom: 0;
    /* position: absolute; 
    margin-bottom: 0.8125rem; */
    width: 100%; }

.tools form 	{ padding: 0 0.6125rem; }

/* .fback 			{ padding-top: 2rem; } */
.fback.err p	{ border: 1px solid #E08400; color: #925805; background-color: rgba(224, 132, 0, 0.19); }
.fback p		{ border: 1px solid #00e009;
    border-radius: 4px;
    padding: 0.625rem 0.625rem;
    background-color: rgba(0, 224, 9, 0.16);
    color: #0A840F; }

.ad-resume > ul span 			{ padding: 0.125rem 0.3125rem; font-family: Orator; padding-left: 0;} 

.ad-resume .size 				{ display: block; }
.ad-resume .price 				{ font-weight: 600; }
.ad-resume form.idealforms		{ display: inline-block; float: left; padding: 0; }
.ad-resume .resume-item			{ border-left: 3px solid #C3C3C3; padding-left: 0.25rem; margin-bottom: 0.25rem; }
.ad-resume form.idealforms .field.radio .group > label:first-child span.ideal-radio { margin-left: 0.375rem; }

.ad-resume > ul div.rem:hover 	{ font-weight: 600; color: #00E009; cursor: pointer; }
.ad-resume > ul div.rem 		{ 
	width: 1rem;
    height: 1rem;
    display: inline;
    padding-left: 0.25rem;
    float: right; 
    font-weight: 400;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
}

.ad-resume > ul div.rem:after 		{ content: '\d7'; }
.ad-resume > ul div.rem:after:hover { content: "\274c"; }
.ad-resume > ul li 		{ border: 1px solid #eee; }
.ad-resume > ul a span 	{ letter-spacing: -1px; height: 1rem; display: inline-block; }
.ad-resume > ul a { 
	color: #3f9dcc;
    /* max-width: 30%; */
    min-width: 10%;
}

form.idealforms .field:first-child  { margin: 0; }

form.idealforms .buttons button.prev 	{ margin-top: 0; height: auto; float: none; }

form.idealforms .field .group.position 		 { border: none; padding: 0; width: auto; }
form.idealforms .field .group.position label { clear: none; float: none; font-size: 0.75rem; }
form.idealforms .ideal-radio {
    float: left;
    margin-right: 0.3125rem !important;
    width: 20px;
    height: 20px;
    background: url("../images/radiocheck.png") 0 0;
}
form.idealforms .buttons button.other {
	display: none;
}
form.idealforms .buttons button:not(.other):not(.prev):not(.back) { 
	float: right; 
}
form.idealforms .buttons button.back {
	float: left;
}
form.idealforms .buttons button {
	background:#fff; border-radius: none; -webkit-border-radius:none; padding: 0.9rem 0.9rem 0.6rem 0.9rem; margin-right: 0; 
}

.skip-button:hover { text-decoration: underline; }
.skip-button {
	color: #00e009;
	cursor: default;
}

.skip {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 0.6125rem;
}

.halfrow.left { float: left; }

.colorPicker-picker {    
	width: 1.2rem;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

label[for=sh-co],
label[for=bg-co] {    margin-left: 1.5rem; }

ul#container li.col1-3 {width:300px; height:auto; margin:10px; }
ul#container li.col1-3.double {width:300px; height:auto; margin:10px; }
ul#container li.col2-3 {width:620px; height:auto; margin:10px; }
/* =End Main Content
--------------------------------------------------------------------------------------------------------*/


/* =Secondary Content
--------------------------------------------------------------------------------------------------------*/
.break { height:20px; position:relative; }
.images { display:block; position:relative; }
.overflow {overflow:hidden; }
.button a {border:1px solid #ccc; padding:10px 15px 11px 15px; background:#fff; position:relative; font-size:14px; display:inline-block }

.ask {font-size:15px; padding-top:10px; color:#2b2b2b; word-break: break-word; text-align: center;}
.huge-price {font-size:72px; font-weight:700; color:#2b2b2b; text-align:center; display:block; margin-top:-11px; }
.huge-price span {font-size:42px; font-weight:400; }
.padding-right {padding-right:30px; }
.margin-right {margin-right:10px; }
/* =End Secondary Content
--------------------------------------------------------------------------------------------------------*/


/* =Googlemaps
--------------------------------------------------------------------------------------------------------*/
#map {width:620px; height:240px; margin:0; border:0}
#map:before, #map:after {background: none; content: ''; left: 0;	position: absolute;	top: 0;	width: 100%; }
#map:after {bottom: 0; top: auto; }
/* End Googlemaps
--------------------------------------------------------------------------------------------------------*/


/* =Image Hover

 * MODIFIED 

{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4; z-index: 9 }
--------------------------------------------------------------------------------------------------------*/
.images img {width:100%; display: block; max-width: 100% !important; height:auto; box-shadow: #000 0em 0em 0em; }
.masonry .element .images img, .index .element .images img 

{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; z-index: 9 }
.masonry.full-opacity .element .images img, .index.full-opacity .element .images img {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; z-index:9 }

.tabs a {border-bottom:1px solid #ccc; padding:16px 20px; position:relative; display:block; font-size:15px; font-weight:400}
.tabs a:hover {background:#f8f8f8; color:#2b2b2b !important; }
.tabs span {padding:4px 0 0 13px; display:inline-block }
.tabs a.last {border:0; }
.icons { position:relative; height:30px; width:30px; z-index:10; float:left }
.email {background:url(../images/bg-email.png) center center no-repeat; background-size:24px 16px; }
.xing {background:url(../images/bg-xing.png) center no-repeat; background-size:24px 24px; }
.google {background:url(../images/bg-googleplus.png) center no-repeat; background-size:24px 24px; }
.twitter, .tweat {background:url(../images/bg-twitter.png) center no-repeat; background-size:24px 24px; }
.facebook {background:url(../images/bg-facebook.png) center no-repeat; background-size:24px 24px; }
.pinterest {background:url(../images/bg-pinterest.png) center no-repeat; background-size:24px 24px; }
.instagram {background:url(../images/bg-instagram.png) center no-repeat; background-size:24px 24px; }
.vimeo {background:url(../images/bg-vimeo.png) center no-repeat; background-size:24px 24px; }
.skype {background:url(../images/bg-skype.png) center no-repeat; background-size:24px 24px; }
.dribble {background:url(../images/bg-dribble.png) center no-repeat; background-size:24px 24px; }
.link {background:url(../images/bg-link.png) center no-repeat; background-size:24px 24px; }
.bubble {background:url(../images/bg-bubble.png) center no-repeat; background-size:24px 24px; }
.zoom {background:url(../images/bg-zoom.png) center no-repeat; background-size:25px 25px; }
.file {background:url(../images/bg-file.png) center no-repeat; background-size:24px 24px; }
.video {background:url(../images/bg-video.png) center no-repeat; background-size:24px 24px; }
.like {background:url(../images/bg-like.png) center no-repeat; background-size:24px 22px; }
.comment {background:url(../images/bg-comment.png) center no-repeat; background-size:25px 18px; }
.close {background:url(../images/bg-close.png) center no-repeat; background-size:18px 18px; }

.cart-in a {background:url(../images/bg-cart_in.png) 15px center no-repeat #fff; background-size:26px 24px; padding-left:48px; }
.cart-out a {background:url(../images/bg-cart_out.png) 15px center no-repeat #fff; background-size:26px 25px; padding-left:48px; }
.book-me a {background:url(../images/bg-book_me.png) 15px center no-repeat #fff; background-size:22px 18px; padding-left:48px; }

.images .title, .images .subtitle2, .images .subtitle { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; position:absolute; top:35px; left:0px !important; width:auto; font-weight:600; cursor:pointer; margin-left:-500px }
.images .subtitle2,
.images .subtitle { top: 68px; font-weight: 400; margin-left:600px }
.masonry .images .title, .masonry .images .subtitle, .images .subtitle2 { margin-left:35px; }

.subtitle, .subtitle2 { display: inline-block; vertical-align: top;}

.title-wrap, .subtitle-wrap { position:relative; }
.title-wrap h3, .subtitle-wrap p { overflow: hidden; white-space: nowrap; text-transform:uppercase; font-family:'Open Sans', Arial, Helvetica, sans-serif; color:#2b2b2b; padding:0px; font-style:normal; }
.title-wrap h3 span, .subtitle-wrap p span { padding:4px 8px 5px 8px; background:#fff;  display:inline-block; position:relative }
.subtitle-wrap p span {font-size:11px; padding:4px 8px 5px 8px; }
.title-wrap h3 { font-size:14px; line-height:1.5; letter-spacing:0; }
/* End Image Hover
--------------------------------------------------------------------------------------------------------*/


/* =Fullscreen Slideshow Page
--------------------------------------------------------------------------------------------------------*/
.single-work .flexslider { z-index:1 }
.single-work header {position:fixed; width:100%; }

.single-work body, html.single-work { height: 100%; padding: 0; margin: 0; }
.single-work .flexslider{ display: block; position: fixed; height: 100%!important; overflow: hidden!important; width: 100%!important; }

.single-work .pic1 {background:url(../images/slide01.jpg) fixed no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position:relative; display:block; height:1148px; width:1742px; }
.single-work .pic2 {background:url(../images/slide02.jpg) fixed no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position:relative; display:block; height:1155px; width:1732px; }
.single-work .slide { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; }

.more-info {display:block; position:absolute; top:35px; right:35px; }
.more-info a { border:1px solid #ccc; padding:9px 15px 10px 15px; float:left; margin-left:5px; }
/* =Fullscreen Slideshow Page
--------------------------------------------------------------------------------------------------------*/


/* =Blog
--------------------------------------------------------------------------------------------------------*/
.teaser {height:261px; }
.teaser .grey-area.smaller {position:absolute; bottom:0; }
p.comments {text-transform:none; }
.post .grey-area { color:#555 }
/* End Blog
--------------------------------------------------------------------------------------------------------*/


/* =Lists
--------------------------------------------------------------------------------------------------------*/
ul.unordered-list { list-style: disc; line-height:1.5; padding:10px 0px 0 0px; margin-left:18px; text-align:left !important; }
ul.unordered-list.check li { background:url(../images/bg-check.png) no-repeat 1px 13px; background-size:13px 11px; }
ol.ordered-list { list-style: decimal; line-height:1.5; padding:10px 0px 0 0px; margin-left:18px; text-align:left !important; }
ul.unordered-list.floated li {float:left; margin-right:40px; }
/* =End Lists
--------------------------------------------------------------------------------------------------------*/


/* =Footer
--------------------------------------------------------------------------------------------------------*/
footer { height:80px; background:#fff; position: relative; clear:both; -webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.1); box-shadow:0 -1px 0 rgba(0, 0, 0, 0.1);}
footer p {padding-top:30px !important }

footer a 		{ color: inherit; transition:0.2s; -moz-transition:0.2s; cursor: pointer; }
footer a:hover 	{ color: rgba(0,224,9,0.8 ); }

/*footer .container {  width: 60%;
    margin: 0 auto; }*/

footer ul:nth-child(odd) li h3 {
  color: #00E009;
  border-bottom: 1px solid #00E009;
}
footer ul:nth-child(even) li h3 {
	border-bottom: 1px solid #555;
}

.form-container h3,
footer ul li h3 { font-family: Orator; text-transform: uppercase; font-size: 1.2rem; cursor: default; padding-bottom: 0.1rem;  display: inline-block; margin-bottom: 0.125rem; }
footer ul li {
	padding: 0.2125rem 0;
}

footer ul li a { 
	color: rgb(136, 136, 136);
	font-weight: 400;
	font-size: 0.8rem;
	padding-left: 0.3125rem;
}

footer ul {
  	list-style: none;
  	display: block;
  	float: left;
  	width: 20%;
    padding-bottom: 2rem;
}

.copyleft {
  font: 18px Arial, sans-serif;
  display: inline-block;
  transform: rotate(180deg);
}


/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =Social
--------------------------------------------------------------------------------------------------------*/
ul.social { padding-top:28px; margin-bottom:6px; letter-spacing:0; font-size:0; }
.social li { display:inline-block; margin:0px 2px;}
.social li a { display:block; }
ul.social a {text-indent:-9000px; text-decoration:none; height:24px; width:24px;}
/* End Social
--------------------------------------------------------------------------------------------------------*/


/* =Isotope
--------------------------------------------------------------------------------------------------------*/
.isotope-item { z-index: 2; -webkit-backface-visibility: hidden; overflow:hidden}
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
/**** Isotope CSS3 transitions ****/
.isotope, 
.isotope .isotope-item 	{ -webkit-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -ms-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; }
.isotope 				{ -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item 	{ -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property:    -moz-transform, opacity; -ms-transition-property:     -ms-transform, opacity; -o-transition-property:         top, left, opacity; transition-property:         transform, opacity; }
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }

#options { width:auto; /*height:100px;*/ z-index:300; text-align:left; white-space: nowrap;}
#options ul { margin: 0; list-style: none; padding-right:0; float:left; border-left:1px solid #ccc; position:relative; font-size: 0; margin-left:-1px}
#options li { 
	width:90px;     
}
#main-menu li:first-child { padding-top: 0.525rem; }
#main-menu li { 
	padding-top: 0.3625rem;
}

#options li a { 
	color:#888; 
	font-family: inherit; 
	font-size:0.72rem;
	font-weight:600; text-decoration:none; text-transform:uppercase; 
	padding-left:0.6125rem; 
}
#options li a:hover, #options li a.current, #options li a.selected { color:#2b2b2b;}

#options ul li ul.other { position:absolute; list-style: none; left:110px; top:0px; height:100%; min-height:100%; padding:17px 20px; border-left:1px solid #ccc; font-size: 0; display:none }
#options ul li ul.other li { width:auto; }
#options ul li ul.other li a.selected {background:#f8f8f8 }

#options ul#homepage { position:absolute; right:0px; top:0px; height:100%; min-height:100%; padding:0; border:0; font-size: 0; display:block }
#options ul#homepage li {display:inline-block; height:100%; width:auto; }
#options ul#homepage li a {display:inline-block;  border-left:1px solid #ccc; padding:17px 20px; padding-right:23px; height:100%; font-size:12px; margin:0 }
#options ul#homepage li a.selected {background:#f8f8f8 }

.dead-link {cursor:default !important }
/* End Isotope
--------------------------------------------------------------------------------------------------------*/


/* =Backtotop
--------------------------------------------------------------------------------------------------------*/
#backtotop { height:auto; position:fixed; right:35px; bottom:83px; display:none; z-index:30; }
#backtotop ul { }
#backtotop ul li a { background:url(../images/bg-up.png) center 48% no-repeat #fff; background-size:22px 15px; display:block; width:50px; height:50px; text-indent:-9000px; -webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.5); -moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.5); box-shadow:0 0 1px rgba(0, 0, 0, 0.5);}
#backtotop ul li a:hover { }
/* End Backtotop
--------------------------------------------------------------------------------------------------------*/


/* =Shop-Link
--------------------------------------------------------------------------------------------------------*/
#shop-link { height:auto; position:fixed; right:35px; bottom:136px; display:block; z-index:30; }
#shop-link ul { overflow:hidden }
#shop-link ul li a { background:url(../images/bg-shopping_cart.png) 13px 50% no-repeat #fff; background-size:26px 23px; display:block; width:50px; height:50px; -webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.5); -moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.5); box-shadow:0 0 1px rgba(0, 0, 0, 0.5);}
#shop-link ul li a span {padding-left:50px; width:auto; padding-top:15px; display:inline-block; color:#2b2b2b; white-space:nowrap }
/* End Shop-Link
--------------------------------------------------------------------------------------------------------*/
/* Resets */
.grey-area.smaller,
.grey-area { background: transparent; background-color: transparent; }

