/*////////////////////////////////////////////////////////////////////////////////
//
//  PHP Ad Manager
//  Copyright (c) 2001, Digitek Design/Chris Allen
//  http://www.digitekdesign.com/software/
//  http://admgr.sourceforge.net/
//  Email: development@digitekdesign.com
//
//  This program is free software; you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation; either version 2 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program; if not, write to the Free Software
//  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
//
///////////////////////////////////////////////////////////////////////////////*/

BODY  {
	font-family : Arial;
	font-size : 10pt;
    text-align: left;
    left: 0px;
    top: 0px;
}

FONT.small {
    font-size : 8pt;
}
FONT.large {
    font-size : 14pt;
}

TABLE.edit {
    border: outset 2pt;
    border-collapse: separate;
    border-spacing: 15pt;
}

TABLE.dom td { vertical-align: top; }
TABLE.dom {
    border: outset 2pt;
    border-collapse: separate;
    border-spacing: 15pt;
}

TABLE.edittop {
    border: outset 2pt;
    border-collapse: separate;
    border-spacing: 15pt;
    border-bottom-style: none;
}
TABLE.editbottom {
    border: outset 2pt;
    border-collapse: separate;
    border-spacing: 15pt;
    border-top-style: none;
}
TD, P, DIV {
	font-family : Arial;
	font-size : 10pt;
}
TD.small {
    font-size : 8pt;
    border-top-style : none;
    border-left-style : none;
    border-right-style : none;
    border-bottom-style : solid;
    border-width : 1pt;
    border-color : gray;
}
TD.desc {
    text-align: right;
}
input,select,textarea {
    font-size : 8pt;
}
select {
    padding: 0.3rem;
    width: 130px;
}

A {
    text-decoration: none;
    font-family : Arial;
}
A.small {
    font-size : 8pt;
}
A.verysmall {
    font-size : 6pt;
}

A:Hover {
    text-decoration: underline overline
}
